<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Отзывы</title>

     <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">




  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>

        </nav>

      </div>
{% for z in data %}
      <div class="jumbotron">



 <form >
             <p class="name">{{z.0}}</p>
 <hr>
     {{z.1}}
   </form>



      </div>
{% endfor %}


      <footer class="footer">
        <p>&copy;ivangoglev</p>
      </footer>

    </div>
  </body>
</html>