<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Stylo Shop</title>

     <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">




  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>

        </nav>

      </div>

      <div class="jumbotron">
           <form class="form-signin" method="get"action="/bsk">
               User:<input name="Customer" value={{name}}>
            {% for z in tovar %}
<hr>
             <p class="name">{{z.1}}</p>
 <img src = ' url_for("static", filename = {{z.4 }})' alt = "{{z.6.}}">
        <div class="cost">{{z.2}} byn</div>
         <label  class="onStock">На складе в данный момент:{{z.3}}</label>
        <label for="inputName" class="sr-only">Name</label>
        <input type="number" name="btnBsk{{z.0}}" id="inputName" value=0 min = 0 max={{z.3}} class="form-control" placeholder="Сколько хотите купить" required autofocus>

            {% endfor %}
             <button id="btnBsk"  class="btn btn-lg btn-primary btn-block"  type="submit">Добавить в корзину</button>
      </form>
      </div>



      <footer class="footer">
        <p>&copy;ivangoglev</p>
      </footer>

    </div>
  </body>
</html>